#wrapper #content-wrapper #content {
    flex: none;
}

.espaco-grafico{
    padding-top: 32px;
}

.linha-botoes{
    display: inline-block;
    text-align: center;
    padding: 16px;
}

.linha-botoes button{
    margin: 0px 16px;
    padding: 8px;
    width: 200px;
}

.show-maquinas{
    background-color: black;
    border: 1px solid black;
}

.show-maquinas:hover{
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(41, 41, 41);
}

.editar-tarefa{
    background-color: #4169E1;
    border: 1px solid #4169E1;
}

.editar-tarefa:hover{
    background-color: #849eeb;
    border: 1px solid #849eeb;
}

.excluir-tarefa{
    background-color: #F00;
    border: 1px solid #F00;
}

.excluir-tarefa:hover{
    background-color: rgb(230, 65, 65);
    border: 1px solid rgb(230, 65, 65);
}

#lista_maquinas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
}

.gridPai{
    display: grid;
    grid-template-columns: 60fr 1fr 20fr
}

.abrangeGraph{
    padding-left: 60px;
    flex: 0 0 auto;
    width: 100%;
    text-align: -webkit-center;
}

.abrangeKpis{
    padding-right: 24px;
}

.left{
    margin-bottom: 24px;
}

.plotRight{
    text-align: right;
}

.notData{
    width: 100%;
    height: 350px;
    background-color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1000%;
}