.kpiDisponibilidade{
    background-color: #000;
    text-align: center;
    padding: 32px;
    white-space: pre-line;
}

.kpiDisponibilidade .percent{
    font-size: 32px;
    font-weight: 800;
}

.kpiDisponibilidade .subtotal{
    font-size: 20px;
    font-weight: 700;
}