.kpiDisponibilidade{
    text-align: center;
    padding: 118px;
    white-space: pre-line;
    color: black;
}

.kpiDisponibilidade .percent{
    font-size: 32px;
    font-weight: 800;
}

.kpiDisponibilidade .subtotal{
    font-size: 20px;
    font-weight: 700;
}