.div_pai{
    display: grid;
    grid-template-columns: auto auto;
    padding: 32px;
}

.row_box{
    padding: 0 32px 32px 32px;
}

.onmouseoverclass{
    cursor: pointer;
}

.onmouseoverclass:hover{
    font-weight: 700;
}