@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/*HEAD*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  
}
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
button{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
body{
    background-color: whitesmoke;
}

nav{
    height: 14vh;
    min-height: 60px;
    width: 100%;
}
li{
    float: left;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
header{
    margin-bottom: 15vh;
}
a{
    text-decoration: none;
}
hr{
    border: 2px solid black;
    border-radius: 10px;
}
.logo{
    height: 80%;
}

.empresa{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.campo{
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.login .campo{
    width: 30%;
}
.login input{
    height: 30px;
}
.empresa button{
    border-radius: 10px;
    background-color: black;
    border: 0px;
    width: 200px;
    height: 40px;
    color: whitesmoke;
}
.login button{
    border-radius: 10px;
    background-color: black;
    border: 0px;
    width: 200px;
    height: 40px;
    color: whitesmoke;
}
.campo label{
    align-self: flex-start;
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 1px #000 solid;
    

}

textarea:focus, input:focus, select:focus {

    box-shadow: 0 0 0 0;    
    outline: 0;
} 

.white{
    color: white;
}

.black{
    color: black;
}
.bg-black{
    background-color: black;
}
.icons{
    color: white;
    font-size: 35px;
}
.ajusteIcon{
    margin-top: -15px;
}
.iconContato{
    color: white;
    font-size: 35px;
}
.navegacao{
    display: flex;
}
#contato{
    height: 80vh;
}
.divMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #44474a;
    border-radius: 8px;
}